<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Shop Item</title>
    <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
    <nav>
        <ul>
            <li><a href="/shop/<%=product._id;%>">Back to Item</a></li>
        </ul>
    </nav>
    <h1>Mamaele's Pastry</h1>
    <h2 id="tagline">✦ tzuker-zis ✦</h2>
    <div class="container">
        <div>
            <h3>Edit Shop Item</h3>
            <form action="/shop/<%=product._id%>?_method=PUT" method="POST" class="userForm">
                <!-- name -->
                <label for="name">NAME</label>
                <input type="text" id="name" name="name" value="<%=product.name%>" />
                <!-- description -->
                <label for="description">DESCRIPTION</label>
                <input type="text" id="description" name="description" value="<%=product.description%>"/>
                <!-- image -->
                <label for="image">IMAGE</label>
                <input type="text" id="image" name="image" value="<%=product.image%>"/>
                <!-- price -->
                <label for="price">PRICE</label>
                <input type="number" id="price" name="price" value="<%=product.price%>"/>
                <!-- quantity -->
                <label for="qty">QUANTITY</label>
                <input type="number" id="qty" name="qty" value="<%=product.qty%>"/>
                <!-- submit button -->
                <input type="submit" value="EDIT ITEM" name="">
            </form>
        </div>
    </div>  
</body>
</html>