<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Details</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="icon" href="https://i.imgur.com/bj8qVp7.png" />
</head>
<body>
    <nav>
        <ul>
            <li><span>⤺</span><a href="/shop">Back to Products</a></li>
        </ul>
    </nav>
    <h1>Mamaele's Pastry</h1>
    <h2 id="tagline">✦ tzuker-zis ✦</h2>
    <div class="productContainer">
        <img src="<%= product.image %>" alt="<%= product.name %>" width="200";>
        <h2 class="showName"><%=product.name%></h2>
        <a href="/shop/<%=product._id %>/edit" class="editLink">(Edit Item)</a>
        <ul id="productDetails">
            <li><%=product.description%></li>
            <li>$<%=product.price%> ea.</li>
            <li><%=product.qty%> Left in Store Today</li>
        </ul>
        <% if (product.qty > 0) { %>
            <form action="/shop/<%=product._id%>?_method=PATCH" method="POST">
                <input type="submit" value="Buy" id="buy"/>
            </form>
        <% } else { %>
            <p>Sorry, we are out of stock</p>
        <% } %>
        <form action="/shop/<%=product._id%>?_method=DELETE" method="POST">
            <input type="submit" value="Delete Product" id="delete" />
        </form>
    </div>
</body>
</html>